/* From Uiverse.io by vinodjangid07 */
.truck-loader {
  width: 100%;
  max-width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.truckWrapper {
  width: min(382px, 100%);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}

/* truck upper body */
.truckBody {
  width: 260px;
  height: fit-content;
  margin-bottom: 12px;
  animation: motion 1s linear infinite;
}

.truck-loader-logo {
  position: absolute;
  top: 44px;
  left: 26px;
  width: 130px;
}

/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* truck's tires */
.truckTires {
  width: 220px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 30px;
  position: absolute;
  bottom: 0;
}

.truckTires svg {
  width: 40px;
}

.road {
  width: 100%;
  height: 6px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}

.road::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: var(--sidebar);
  right: -50%;
  animation: roadAnimation 3s linear infinite;
}

.road::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: var(--sidebar);
  right: -75%;
  animation: roadAnimation 3s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-700px);
  }
}
